<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoni.birdilegoapi.mapper.EventFileMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO bg_event_file (event_id, file_type, original_file_name, stored_file_path, file_size)
        VALUES (#{eventId}, #{fileType}, #{originalFileName}, #{storedFilePath}, #{fileSize})
    </insert>

    <select id="findByEventId" resultType="com.yeoni.birdilegoapi.domain.entity.EventFile">
        SELECT * FROM bg_event_file WHERE event_id = #{eventId}
    </select>

</mapper>