<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoni.birdilegoapi.mapper.ParticipantMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="participantId">
        INSERT INTO bg_participant event_id, uploader_id, event_type, age_group, skill_level, team_name,
        participant1_name, participant1_birth, participant1_phone,
        participant2_name, participant2_birth, participant2_phone)
        VALUES (#{eventId}, #{uploaderId}, #{eventType}, #{ageGroup}, #{skillLevel}, #{teamName},
        #{participant1Name}, #{participant1Birth}, #{participant1Phone},
        #{participant2Name}, #{participant2Birth}, #{participant2Phone})
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        INSERT INTO bg_participant (event_id, uploader_id, event_type, age_group, skill_level, team_name,
        participant1_name, participant1_birth, participant1_phone,
        participant2_name, participant2_birth, participant2_phone)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.eventId}, #{item.uploaderId}, #{item.eventType}, #{item.ageGroup}, #{item.skillLevel}, #{item.teamName},
            #{item.participant1Name}, #{item.participant1Birth}, #{item.participant1Phone},
            #{item.participant2Name}, #{item.participant2Birth}, #{item.participant2Phone})
        </foreach>
    </insert>

    <select id="findById" resultType="com.yeoni.birdilegoapi.domain.entity.ParticipantEntity">
        SELECT * FROM bg_participant WHERE participant_id = #{participantId}
    </select>

    <select id="findByEventId" resultType="com.yeoni.birdilegoapi.domain.entity.ParticipantEntity">
        SELECT * FROM bg_participant WHERE event_id = #{eventId} ORDER BY age_group, skill_level
    </select>

    <select id="findByEventIdAndEventType" resultType="com.yeoni.birdilegoapi.domain.entity.ParticipantEntity">
        SELECT * FROM bg_participant
        WHERE event_id = #{eventId} AND event_type = #{eventType}
        ORDER BY age_group, skill_level
    </select>

    <update id="update" parameterType="com.yeoni.birdilegoapi.domain.entity.ParticipantEntity">
        UPDATE bg_participant
        <set>
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="ageGroup != null">age_group = #{ageGroup},</if>
            <if test="skillLevel != null">skill_level = #{skillLevel},</if>
            <if test="teamName != null">team_name = #{teamName},</if>
            <if test="participant1Name != null">participant1_name = #{participant1Name},</if>
            <if test="participant1Birth != null">participant1_birth = #{participant1Birth},</if>
            <if test="participant1Phone != null">participant1_phone = #{participant1Phone},</if>
            <if test="participant2Name != null">participant2_name = #{participant2Name},</if>
            <if test="participant2Birth != null">participant2_birth = #{participant2Birth},</if>
            <if test="participant2Phone != null">participant2_phone = #{participant2Phone},</if>
            <if test="userYn != null">user_yn = #{userYn},</if>
        </set>
        WHERE participant_id = #{participantId}
    </update>

    <update id="updateMultiple">
        UPDATE bg_participant_upload
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="event_type = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.eventType != null">WHEN #{p.uploadId} THEN #{p.eventType}</if>
                </foreach>
            </trim>
            <trim prefix="age_group = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.ageGroup != null">WHEN #{p.uploadId} THEN #{p.ageGroup}</if>
                </foreach>
            </trim>
            <trim prefix="skill_level = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.skillLevel != null">WHEN #{p.uploadId} THEN #{p.skillLevel}</if>
                </foreach>
            </trim>
            <trim prefix="team_name = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.teamName != null">WHEN #{p.uploadId} THEN #{p.teamName}</if>
                </foreach>
            </trim>
            <trim prefix="participant1_name = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant1Name != null">WHEN #{p.uploadId} THEN #{p.participant1Name}</if>
                </foreach>
            </trim>
            <trim prefix="participant1_birth = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant1Birth != null">WHEN #{p.uploadId} THEN #{p.participant1Birth}</if>
                </foreach>
            </trim>
            <trim prefix="participant1_phone = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant1Phone != null">WHEN #{p.uploadId} THEN #{p.participant1Phone}</if>
                </foreach>
            </trim>
            <trim prefix="participant2_name = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant2Name != null">WHEN #{p.uploadId} THEN #{p.participant2Name}</if>
                </foreach>
            </trim>
            <trim prefix="participant2_birth = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant2Birth != null">WHEN #{p.uploadId} THEN #{p.participant2Birth}</if>
                </foreach>
            </trim>
            <trim prefix="participant2_phone = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant2Phone != null">WHEN #{p.uploadId} THEN #{p.participant2Phone}</if>
                </foreach>
            </trim>
            <trim prefix="user_yn = CASE upload_id" suffix="END,">
                <foreach collection="participants" item="p">
                    <if test="p.participant2Phone != null">WHEN #{p.uploadId} THEN #{p.userYn}</if>
                </foreach>
            </trim>
        </trim>
        WHERE upload_id IN
        <foreach collection="participants" item="p" open="(" separator="," close=")">
            #{p.uploadId}
        </foreach>
    </update>


    <delete id="deleteById">
        DELETE FROM bg_participant WHERE participant_id = #{participantId}
    </delete>

    <delete id="deleteAllByEventId" parameterType="long">
        DELETE FROM bg_participant_upload WHERE event_id = #{eventId}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM bg_participant_upload
        WHERE upload_id IN
        <foreach collection="uploadIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getStatsByEventType" resultType="com.yeoni.birdilegoapi.domain.dto.participant.ParticipantStats">
        SELECT
        age_group AS ageGroup,
        skill_level AS skillLevel,
        COUNT(*) AS teamCount
        FROM
        bg_participant
        WHERE
        event_id = #{eventId} AND event_type = #{eventType}
        GROUP BY
        age_group, skill_level
        ORDER BY
        ageGroup, skillLevel
    </select>

    <select id="getStatsForAllEventTypes" resultType="com.yeoni.birdilegoapi.domain.dto.participant.ParticipantStats">
        SELECT
        event_type AS eventType,
        age_group AS ageGroup,
        skill_level AS skillLevel,
        COUNT(*) AS teamCount
        FROM
        bg_participant_upload
        WHERE
        event_id = #{eventId}
        GROUP BY
        event_type, age_group, skill_level
        ORDER BY
        eventType, ageGroup, skillLevel
    </select>


    <select id="findParticipantsForGrouping" resultType="com.yeoni.birdilegoapi.domain.entity.ParticipantEntity">
        SELECT *
        FROM bg_participant_upload
        WHERE event_id = #{eventId}
        AND event_type = #{eventType}
        <if test="ageGroups != null and !ageGroups.isEmpty()">
            AND age_group IN
            <foreach collection="ageGroups" item="ageGroup" open="(" separator="," close=")">
                #{ageGroup}
            </foreach>
        </if>
        <if test="skillLevels != null and !skillLevels.isEmpty()">
            AND skill_level IN
            <foreach collection="skillLevels" item="skillLevel" open="(" separator="," close=")">
                #{skillLevel}
            </foreach>
        </if>
    </select>

</mapper>